version: '3.9'

services:
  db:
    image: postgres:14.5-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=dpm
      - POSTGRES_PASSWORD=dpm
    volumes:
      - /var/lib/postgresql/data
    ports:
      - "5434:5432"
  user:
    image: cosmtrek/air
    working_dir: /app
    entrypoint: /app/start
    environment:
      - SERVICE=user
      - SERVER_PORT=4000
      - CLIENT_PARCELSERVICEURL=user:4000
      - DB_HOST=db
      - DB_PORT=5432
    ports:
      - "4001:4000"
    volumes:
      - ./:/app
  parcel:
    image: cosmtrek/air
    working_dir: /app
    entrypoint: /app/start
    environment:
      - SERVICE=parcel
      - SERVER_PORT=4000
      - CLIENT_USERSERVICEURL=user:4000
    ports:
      - "4002:4000"
    volumes:
      - ./:/app
    depends_on:
      - user
  notification:
    image: cosmtrek/air
    working_dir: /app
    entrypoint: /app/start
    environment:
      - SERVICE=notification
      - SERVER_PORT=4000
      - DB_HOST=mongo
      - DB_PORT=27017
      - CLIENT_NOTIFICATIONSERVICEURL=user:4003
    ports:
      - "4003:4000"
    volumes:
      - ./:/app
    depends_on:
      - user
  mongo:
    image: mongo:6.0.2
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongo
      - MONGO_INITDB_ROOT_PASSWORD=mongo
    volumes:
      - /var/lib/mongodb/data
    ports:
      - "27017:27017"
