version: '3.9'

services:
  db:
    image: postgres:14.5-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=dpm
      - POSTGRES_PASSWORD=dpm
    volumes:
      - /var/lib/postgresql/data
    ports:
      - "5434:5432"
  user:
    image: cosmtrek/air
    working_dir: /app
    entrypoint: /app/start
    environment:
      - SERVICE=user
      - SERVER_PORT=4000
      - CLIENT_PARCELSERVICEURL=user:4000
      - DB_HOST=db
      - DB_PORT=5432
    ports:
      - "4001:4000"
    volumes:
      - ./:/app
  parcel:
    image: cosmtrek/air
    working_dir: /app
    entrypoint: /app/start
    environment:
      - SERVICE=parcel
      - SERVER_PORT=4000
      - CLIENT_USERSERVICEURL=user:4000
    ports:
      - "4002:4000"
    volumes:
      - ./:/app
    depends_on:
      - user
